.div1{
    background-color: aquamarine;
}
.div2{
    background-color: aquamarine;
}
.div3{
    background-color: aquamarine;
}
#p1{
    color: blue;
    background-color: yellow;
}
#p2{
    color: green;
}
#p3{
    color: red;
}