
* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    overflow: visible;
    scroll-behavior: smooth;
}

.header {
    background-color: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.footer {
    background-color: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
}
.main {
    display: flex;
    min-height: calc(100vh - 117px);
    background-color: aqua;
}

.sidebar {
    width: 21%;
    background-color: greenyellow;
    display: grid;
    justify-content: center;
    /* text-align: center; */
}

.tab {
    margin: 10px 0px;
    padding: 15px;
    width: 100%;
    background-color: red;  
    text-align: center;
    cursor: pointer;
}
.tab:hover {
    background-color: greenyellow;
}

.content {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads {
    width: 11%;
    background-color: grey;
}
